{% extends "admin/change_form.html" %}


{% block object-tools-items %}
{% if original.email and not original.email_is_verified %}
<li>
    <a href="{% url 'admin:resend-email-activation-core-admin' original.id %}">
        Resend verification email
    </a>
</li>
{% endif %}
{% if original.email %}
<li>
    <a href="{% url 'admin:activate-email-core-admin' original.id %}">
        Activate email
    </a>
</li>
<li>
    <a href="{% url 'admin:deactivate-email-core-admin' original.id %}">
        Deactivate email
    </a>
</li>
{% endif %}
{% if original.billed_recipient_id %}
<li>
    <a href="{% url 'admin:fetch-gov-info-core-admin' original.id %}">
        Fetch ID data
    </a>
</li>
{% endif %}
<li>
    <a href="{% url 'admin:update-balance' original.id %}">
        Update balance
    </a>
</li>

{{ block.super }}
{% endblock object-tools-items %}
