{% extends "admin/change_form.html" %}


{% block object-tools-items %}
<li>
    <a target="blank" href="{% url 'admin:core-admin-export-transportation-manifest' original.id %}">
        Export manifest
    </a>
</li>
<li>
    <a href="{% url 'admin:core-admin-send-transportation-manifest' original.id %}">
        Send manifest
    </a>
</li>
<li>
    <a href="{% url 'admin:core-admin-generate-excell-manifest' original.id %}">
        Export EXCEL manifest
    </a>
</li>
{{ block.super }}
{% endblock object-tools-items %}
